*{
  margin:0;
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#926239;
  line-height:1.6;
  background-color: #f9f9f9;
  overflow-x: hidden;
  overflow-y: scroll;
}
.bg-image{
  min-height: 100vh;
  background-image:url('beach.jpg');
  background-size:cover;
  background-position:center;
}
.preview{
  margin-top:-60vh;
  height:57.4vh;
  text-align: center;
}
.preview>h1{
  font-size:50px;
  line-height:1.2;
  display: block;
  margin-bottom:5px;
}
.preview>p{
  max-width: 20%;
  margin-left:auto;
  margin-right:auto;
  font-size:25px;
  margin-top: 1px;
}
.preview .button{
  display: inline-block;
  font-size:18px;
  text-decoration:none;
  color:#926239;
  border:#926239 1px solid;
  padding:5px 25px;
  border-radius:10px;
  margin:10px;
}
.color{
  color: #f9f9f9;
  background:#926239;
}
.section-a{
  padding:20px;
  text-align:center;
  margin-top: 34px;
}
.section-b{
  padding:20px;
  text-align:center;
}
.section-c{
  min-width: 100vw;
}
.section-c div{
  padding:20px;
  display: inline-block;
}
.section-c .block{
  width: 33vw;
  box-sizing: border-box;
} 
.section-c .block-2{
  box-sizing: border-box;
  width: 33vw;
}